p {
    color: red;
    background-color: yellow;
}

h1 {
    color: blue;
    background-color: green;
}

body {
    background-color: black;
}

img {
    width: 100px;
}

div {
    color: white;
}